<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KNSoft.CBS" version="1.0.0-beta" targetFramework="native" />
  <package id="KNSoft.FirmwareSpec" version="1.0.1-beta" targetFramework="native" />
  <package id="KNSoft.MakeLifeEasier" version="1.0.8-beta" targetFramework="native" />
  <package id="KNSoft.NDK" version="1.2.67-beta" targetFramework="native" />
  <package id="KNSoft.Quic" version="1.0.2-beta" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.4129.50" targetFramework="native" />
  <package id="Microsoft.WindowsPackageManager.ComInterop" version="1.29.290" targetFramework="native" />
</packages>
